<div class="container-fluid" ng-style="{width: widget.width+'px'}">
    <!-- widget type -->
    <div class="row" >
        <div class="col-md-12 text-center">{{widget.type}}</div>
    </div>
    <!-- Series-->    
    <div class="row" style="position: relative;">
        <label class="col-md-2 control-label text-right">Series</label>
        <!-- dropdown toggle-->
        <a class="dropdown-toggle col-md-9 col-md-offset-1 text-left">
            <button type="button" class="btn btn-default">Series<b class="caret"></b></button>
        </a>
        <!-- dropdown content -->
        <ul class="dropdown-menu col-md-9 col-md-offset-1" style="top:100%;right:0px;">
            <li ng-repeat="serie in widget.series">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-checked="isInList(serie, widget.selected_series)" ng-click="addOrRemoveToList(serie, widget.selected_series)">
                        <!-- TODO: alias (display name) -->
                    </span>
                    {{serie}} 
                </div>
            </li>
        </ul>
    </div>
    <!-- category-->    
    <div class="row" style="position: relative;">
        <label  class="col-md-2 control-label text-right">Category</label>
        <!-- dropdown toggle-->
        <a class="dropdown-toggle col-md-9 col-md-offset-1 text-left">
            <button type="button" class="btn btn-default">Category<b class="caret"></b></button>
        </a>
        <!-- dropdown content -->
        <ul class="dropdown-menu col-md-9 col-md-offset-1" style="top:100%;right:0px;">
            <li ng-repeat="cat in widget.categories">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-checked="isInList(cat, widget.selected_categories)" ng-click="addOrRemoveToList(cat, widget.selected_categories, 1, 1)">
                        <!-- TODO: alias (display name) -->
                    </span>
                    {{cat}}
                </div>
            </li>
        </ul>
    </div>
    <!--Shared link-->
    <div class="row"> 
        <label class="col-md-2 control-label right">Shared link</label>
        <p class="col-md-9 col-md-offset-1 text-info text-left">{{widget.link}}</p>
    </div>
</div>